/* .logo {
  width: 100px;
}

.about p{
  
}
.about{
  height: 40vh;
}
h2{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.customer img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
 
}
.customer h3{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.customer h2{
  text-align: center;
  color: gray;
  font-family: 'Courier New', Courier, monospace;
}
.customer {
  margin-bottom: 30px;
}
.sponsor img{
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.term{
  margin-bottom: 50px;
}
.term p{
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

h3{
  padding: 20px;
  font-size: 25px;
}
  p{
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
} */

.logo {
  width: 100px;
}